

<div class="grid-x m-b-3 {{#unlesspage 'index' 'profil'}}m-t-12 m-t-15-medium m-t-20-large{{/unlesspage}}">
    <div class="cell large-4">
        <h2 class="title-1">

            {{#ifpage 'index'}} Výberovky {{/ifpage}}

            {{#unlesspage 'index'}} Ďaľšie projekty {{/unlesspage}}
        
        </h2>
    </div>


    <div class="cell large-auto">
        <div class="rect m-t-1 m-t-2-medium m-t-1-large m-b-4 m-b-5-medium"></div>

        {{> @partial-block }}

      </div>
</div>




{{> contact}}