
{{#ifpage 'index'}}

    <header class="header-index p-t-4-portrait p-b-10-portrait p-t-3-landscape p-b-10-landscape p-t-6-medium p-b-15-medium p-b-13-medium-landscape p-t-8-large p-b-16-large">

{{/ifpage}}


{{#ifpage 'profile'}}

    <header class="header-profile p-t-4-portrait p-b-10-portrait p-t-3-landscape p-b-10-landscape p-b-0-slandscape p-t-6-medium p-t-8-large">

{{/ifpage}}


{{#unlesspage 'index' 'profile'}}

    <header class="p-y-4-portrait p-y-3-landscape p-y-6-medium p-y-8-large">

{{/unlesspage}}



    <div class="grid-container">
      <div class="grid-x">
          <div class="cell large-4">
              <div class="grid-x navbar">
                  <div class="cell auto">
                      <a href="/" class="navbar-brand">Stanislav Petrina</a>
                  </div>

                  <div class="cell shrink title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
                      <button type="button" class="icon-menu" data-toggle="example-menu">
                          <span class="iconify icon-menu" data-icon="custom:iconMenu" data-inline="false"></span>
                      </button>

                      <button type="button" class="hide icon-close" data-toggle>
                          <span class="iconify" data-icon="custom:iconClose" data-inline="false"></span>
                      </button>
                  </div>
              </div>
          </div>


          <div class="cell large-auto">
              <div class="top-bar" id="example-menu">
                  <div class="grid-container p-x-0-large m-x-0-large">
                      <ul class="dropdown menu" data-dropdown-menu>
                          <li><div class="rect"></div></li>
                          <li><a href="/">Úvod</a></li>
                          <li><a href="profile.html">Profil</a></li>
                          <li><a href="#kontakt" class="link-contact">Kontakt</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      {{#ifpage 'index'}}
			
			    <div class="grid-x align-right">
	          	<div class="cell xlarge-8">
	              	<h1>ux/ui dizajnér<span>front-end developer</span></h1>
	          	</div>
      		</div>

      {{/ifpage}}



      {{#ifpage 'profile'}}

          <div class="grid-x">
              <div class="cell slandscape-6 medium-6 large-6">
                  <div class="m-t-9 m-t-7-landscape m-t-7-slandscape m-t-8-large text-center slandscape-text-left">
                      <picture>
                          <source media="(max-width: 1024px)" srcset="assets/img/profpic-small.jpg">
                          <img src="assets/img/profpic-medium.jpg" alt="me">
                      </picture>
                  </div>
              </div>

              <div class="cell slandscape-auto">
                  <h1>Profil</h1>
              </div>
          </div>

      {{/ifpage}}



      {{#unlesspage 'index' 'profile'}}

          {{#getData page}}

              <h1 class="font-family-2 text-initial m-t-10 m-b-1 m-t-8-landscape m-t-9-smedium-landscape m-t-14-medium m-t-10-medium-landscape m-t-16-large">{{title}}</h1>
          
          {{/getData}}

      {{/unlesspage}}

    </div>
</header>