{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Zadanie - Shield-SK s.r.o</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <!-- Typography -->
  	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet"> 
  </head>
<body>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}



<div class="grid-container m-y-15 text-center">

	<h1 class="m-b-4">Quality crafted<br>for iPhone 12</h1>

  <p class="h5">
    A simple but brilliant idea that turns your iPhone into your wallet – so the only other thing you need to remember are your keys. This case adds a pouch on the back to create a winning combination that is designed to make your day to day life more convenient.
  </p>

</div>


<div class="bg-img bg-1 color-light">
    <div class="grid-container p-y-15">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 large-offset-6">
              
                <h3>Combining your daily carry essentials</h3>

                <p>
                  Designed with fuss-free travel in mind – a Mujjo original praised for its functionality and form. Combining two of your daily carry essentials into one sleek package, able to hold 2 or 3 of your cards, such as ID and bank cards, this leather wallet cover protects your iPhone and eliminates the need for bulky pockets.
                </p>



                <h3>Satin-like microfiber-lined interior</h3>

                <p>
                  The case interiors are lined with the finest Japanese microfiber, a slim, super-strong fabric that is also exceptionally lightweight. With a sophisticated, satin-like finish, this material provides luxurious padded comfort for your iPhone 12.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="bg-2 color-light">
    <div class="grid-container p-y-15">
        <div class="grid-x">
            <div class="cell large-6">
              
                <h3>Our best leather wallet cases yet</h3>

                <p class="m-b-3">
                  We believe in simplifying life. That’s why we designed convenient wallet versions of our cases, allowing you to declutter and add a minimalist touch to your lifestyle.
                </p>

                <p class="m-b-3">
                  The leather wallet case for iPhone 12 features a leather card pocket – marked by a slanted line and stitched to the back – providing an opening sized to fit up to 3 bank, ID or commuter cards conveniently in one sleek package.
                </p>

                <p>
                  Our new range of cases have been updated to match the flat, angular (and pretty smart) edges while subtle curves still assert themselves in the corners – and they look great. In fact, the new contours complement our well-known clean designs and work particularly well with the sharp stitching lines found on our wallet cases.
                </p>
            </div>


            <div class="cell auto">
                <img src="https://static.mujjo.com/lhj-JEs.Kj7b~a1c2/w:564/h:842/q:auto/dpr:2.0/https://www.mujjo.com/static/full-leather-wallet-case-for-iphone-12-black-002.jpg" alt="full leather wallet case for iphone 12 black 002" title="full leather wallet case for iphone 12 black 002 10">
            </div>
        </div>
    </div>
</div>



<div class="bg-img bg-3 color-light">
    <div class="grid-container p-y-15">
        <div class="grid-x">
            <div class="cell large-6">
              
                <h3>It’s the little things</h3>

                <p class="m-b-3">
                  Speaking of details, the buttons are fully covered in leather, which adds to the sleekness of the overall design. The optimised button profile is specifically designed and tested for responsiveness and ease of use – the result of a production process that we’ve meticulously refined. The camera opening and mute button are tapered inwards for effortless use and a smooth aesthetic.
                </p>



                <h3>Screen edge protected</h3>

                <p>
                  The leather rises 1mm above the edge of the glass, creating a raised bezel that keeps abrasive surfaces away from your screen.
                </p>
            </div>
        </div>
    </div>

    <div class="color-overlay"></div>
</div>






<div class="grid-container m-t-15 text-center">

  <h2 class="m-b-3">
    “Our cases have always reflected our love for high-quality craftsmanship and they’ve been consistently ranked as the best out there. These are no exception.”
  </h2>

  <p class="h4">
    Remy Nagelmaeker, Founder
  </p>

  <img src="https://static.mujjo.com/lhj-JEs.Kj7b~a1c2/w:1056/h:598/q:auto/dpr:2.0/https://www.mujjo.com/static/full-leather-wallet-case-for-iphone-12-black-004.jpg" alt="full leather wallet case for iphone 12 black 004" title="full leather wallet case for iphone 12 black 004 11" class="m-t-3">

</div>






<div class="bg-img bg-4 color-light">
    <div class="grid-container p-y-15 text-center">
              
        <h3>Beautiful finish that improves with use</h3>

        <p class="h5">
          The cases exude immaculate craftsmanship, delivered through the high quality of the full-grain vegetable-tanned leather, which looks terrific when you first start using the case – and even better over time when it’s had a chance to patina. The color becomes richer and the character comes through as you use it and abuse it – every stain, every scratch makes it yours, and unique to you.
        </p>



        <h3 class="m-t-6">Low-key Black</h3>

        <p class="h5">
          A solid black tone with slanted and sleek lines creating tension while uniform dark tones amplifying harmony. This tone embodies a decidedly powerful character that remains low-key. A lack of contrast and the use of completely luxurious leather ensures uniformity, defining a package that is discreet but deliberate.
        </p>
    </div>

    <div class="color-overlay"></div>
</div>






<div class="grid-container m-y-15 text-center">
    <h3>Related</h3>

    <div class="grid-x text-center">
        <div class="cell auto">
          <a href="https://www.mujjo.com/full-leather-case-for-iphone-12-pro-black/">
              <img src="https://static.mujjo.com/lhj-JEs.Kj7b~a1c2/w:352/h:387/q:auto/dpr:2.0/https://www.mujjo.com/static/Full-Leather-Case-for-iPhone-12-Pro-Black-Thumbnail-01.jpg" alt="Full Leather Case for iPhone 12 Pro Black Thumbnail 01" title="Full Leather Case for iPhone 12 Pro - Black 12">

              <span class="h6 font-weight-bold">Full Leather Case for iPhone 12 Pro – Black€44.90 EUR</span>
          </a>
        </div>


        <div class="cell auto">
          <a href="https://www.mujjo.com/full-leather-case-for-iphone-12-pro-tan/">
              <img src="https://static.mujjo.com/lhj-JEs.Kj7b~a1c2/w:352/h:387/q:auto/dpr:2.0/https://www.mujjo.com/static/Full-Leather-Case-for-iPhone-12-Pro-Tan-Thumbnail-01.jpg" alt="Full Leather Case for iPhone 12 Pro Tan Thumbnail 01" title="Full Leather Case for iPhone 12 Pro - Tan 13">

            <span class="h6 font-weight-bold">Full Leather Case for iPhone 12 Pro – Tan€44.90 EUR</span>
          </a>
        </div>


        <div class="cell auto">
          <a href="https://www.mujjo.com/full-leather-wallet-case-for-iphone-12-pro-tan/">
              <img src="https://static.mujjo.com/lhj-JEs.Kj7b~a1c2/w:352/h:387/q:auto/dpr:2.0/https://www.mujjo.com/static/Full-Leather-Wallet-Case-for-iPhone-12-Pro-Tan-Thumbnail-01.jpg" alt="Full Leather Wallet Case for iPhone 12 Pro Tan Thumbnail 01" title="Full Leather Wallet Case for iPhone 12 Pro - Tan 14">

            <span class="h6 font-weight-bold">Full Leather Wallet Case for iPhone 12 Pro – Tan€49.90 EUR</span>
          </a>
        </div>
    </div>

</div>




<div class="grid-container m-y-15">
    <h3 class="m-b-8 text-center">Comments</h3>

    
    <form id="comments">
        <label for="comment">Comment</label><br>
        <textarea name="comment" id="comment" rows="6" class="m-b-4"></textarea>

        <br>

        <label for="name">Your Name *</label><br>
        <input type="text" name="name" id="name" class="m-b-4">
        
        <br>

        <label for="email">Email *</label><br>
        <input type="email" name="email" id="email" class="m-b-2">

        <br>

        <input name="submit" type="submit" class="btn" id="submit" value="Submit">
    </form>

</div>



<div class="bg-5 color-light">
    <div class="grid-container p-t-20 p-b-15">
        <div class="grid-x">
            <div class="cell large-6 m-r-4">
              <h2 class="m-b-3">We're here to help</h2>

              <p>
                Here’s several ways to reach out to us. Feel free to reach out at any time to ask questions or share your thoughts. We appreciate the effort.
              </p>
            </div>


            <div class="cell auto">
              <div class="grid-x m-b-3">
                  <div class="cell auto">
                    <div class="grid-x">
                      <div class="shrink">
                        <span class="iconify" data-icon="fa:comment-o" data-inline="false"></span>
                      </div>

                      <div class="cell auto m-l-3 m-r-4">
                        <h5><a href="#">Contact Form</a></h5>

                         <p>Send a message through the form.</p>
                      </div>
                    </div>
                  </div>


                  <div class="cell auto">
                    <div class="grid-x">
                      <div class="shrink">
                        <span class="iconify" data-icon="fa:twitter" data-inline="false"></span>
                      </div>

                      <div class="cell auto m-l-3 m-r-4">
                        <h5><a href="#">By Twitter</a></h5>

                         <p>Send us a Tweet or DM.</p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="grid-x">
                  <div class="cell auto">
                    <div class="grid-x">
                      <div class="shrink">
                        <span class="iconify" data-icon="fa:instagram" data-inline="false"></span>
                      </div>

                      <div class="cell auto m-l-3 m-r-4">
                        <h5><a href="#">By Instagam</a></h5>

                         <p>Just slide into our DM's.</p>
                      </div>
                    </div>
                  </div>


                  <div class="cell auto">
                    <div class="grid-x">
                      <div class="shrink">
                        <span class="iconify" data-icon="fa:facebook-official" data-inline="false"></span>
                      </div>

                      <div class="cell auto m-l-3 m-r-4">
                        <h5><a href="#">By Facebook</a></h5>

                         <p>Send us a message on Facebook.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





        <div class="footer bg-2 color-light">
              <div class="grid-container p-t-10 p-b-5">
                <div class="grid-x">
                    <div class="cell auto">
                        <h4 class="m-t-1 m-b-6">Subscribe to our newsletter</h4>
                    </div>


                    <div class="cell auto">
                        <form id="newsletter">
                            <div class="grid-x">
                                <div class="cell auto">
                                    <input type="email" name="your-email" placeholder="Email">
                                </div>

                                <div class="cell shrink">
                                    <input name="submit" type="submit" class="btn m-l-3" id="submit" value="Subscribe">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <hr>


                <div class="grid-x grid-margin-x m-y-6">
                    <div class="cell auto">
                        <h6 class="m-b-2">Collection</h6>

                        <ul>
                            <li><a href="#">iPhone Cases</a></li>
                            <li><a href="#">Macbook Sleeves</a></li>
                            <li><a href="#">Touchscreen Gloves</a></li>
                            <li><a href="#">Outlet</a></li>
                        </ul>
                    </div>


                    <div class="cell auto">
                        <h6 class="m-b-2">Support</h6>

                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Warranty</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                    </div>


                    <div class="cell auto">
                        <h6 class="m-b-2">Sales</h6>

                        <ul>
                            <li><a href="#">Resellers</a></li>
                            <li><a href="#">Corperate Sales</a></li>
                            <li><a href="#">Corperate Gifts</a></li>
                        </ul>
                    </div>


                    <div class="cell auto">
                        <h6 class="m-b-2">About</h6>

                        <ul>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Journal</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>



                <ul class="social">
                    <li><a href="#"><span class="iconify" data-icon="fa:instagram" data-inline="false"></span></a></li>
                    <li><a href="#"><span class="iconify" data-icon="fa:facebook" data-inline="false"></span></a></li>
                    <li><a href="#"><span class="iconify" data-icon="fa:twitter" data-inline="false"></span></a></li>
                    <li><a href="#"><span class="iconify" data-icon="fa:linkedin" data-inline="false"></span></a></li>
                </ul>



                <div class="grid-x m-t-3">
                    <div class="cell auto">
                        <p>© 2011-2021 Ndigo Business B.V. Mujjo is an international trademark of Ndigo Business B.V. (the Netherlands).</p>
                    </div>

                    <div class="cell shrink">
                        <ul class="terms">
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Images</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
